.intro {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

.talks {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}
